[submodule "src/extern/minunit"]
	path = src/extern/minunit
	url = git@github.com:siu/minunit.git
[submodule "src/extern/CLI11"]
	path = src/extern/CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "src/extern/spot"]
	path = src/extern/spot
	url = https://gitlab.lre.epita.fr/spot/spot.git
